.deck-card.ng-enter {
	animation: bounceIn 0.8s;
}
.deck-card.ng-leave {
	animation: fadeOut 0.2s;
}

.card img {
	-webkit-transition: all 0.3s linear; /* Safari and Chrome */
	-moz-transition: all 0.3s linear; /* Firefox */
	-o-transition: all 0.3s linear; /* IE 9 */
	-ms-transition: all 0.3s linear; /* Opera */
	transition: all 0.3s linear;
}

.card:hover img {
	-webkit-transform:scale(1.625); /* Safari and Chrome */
	-moz-transform:scale(1.625); /* Firefox */
	-ms-transform:scale(1.625); /* IE 9 */
	-o-transform:scale(1.625); /* Opera */
	transform:scale(1.625);
	-webkit-transition: all 0.1s ease; /* Safari and Chrome */
	-moz-transition: all 0.1s ease; /* Firefox */
	-o-transition: all 0.1s ease; /* IE 9 */
	-ms-transition: all 0.1s ease; /* Opera */
	transition: all 0.1s ease;
}
