<div class="row">
	<div class="col-xs-4">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<select class="form-control" ng-model="builder.filterElement" ng-options="element.value as element.name for element in builder.elements" ng-change="builder.elementChange()"></select>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Search" ng-model="builder.searchText" ng-change="builder.searchChange()">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<span class="card" ng-repeat="card in builder.pageCards">
					<img ng-src="{{'assets/img/' + card.code + '.png'}}" width="90px" ng-click="builder.deckAdd(card)">
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<pagination direction-links="false" boundary-links="true" first-text="&laquo;" last-text="&raquo;"  total-items="builder.filteredCards.length" items-per-page="builder.itemsPerPage" ng-model="builder.currentPage" max-size="builder.maxPages" ng-change="builder.pageChange()" ng-hide="builder.filteredCards.length <= builder.itemsPerPage"></pagination>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<input class="form-control" type="text" ng-model="builder.deck.name" ng-focus="builder.markText($event)">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<img class="deck-card" ng-src="{{'assets/img/' + card.code + '.png'}}" width="90px" ng-repeat="card in builder.deck.cards" ng-click="builder.deckRemove($index)">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-primary" ng-click="builder.saveDeck()" ng-disabled="builder.deck.cards.length == 0">Save</button>
				<p ng-repeat="name in builder.savedDecks">
					<button class="btn btn-link" ng-click="builder.loadDeck(name)">{{name}}</button>
					<button class="btn btn-link" ng-click="builder.removeDeck(name)"><span class="fa fa-remove"></span></button>
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-2">
		<div class="form-group">
			<label>Import Code:</label>
			<input class="form-control" type="input" ng-model="builder.importString" ng-focus="builder.markText($event)">
			<p ng-show="builder.importError">{{builder.importErrorMessage}}</p>
		</div>
		<button class="btn btn-default" ng-click="builder.importDeck(builder.importString)">Import</button>
		<div class="form-group">
			<label>Deck Code:</label>
			<input class="form-control" type="input" readonly="" ng-model="builder.exportString" ng-focus="builder.markText($event)">
		</div>
	</div>
</div>
