<div class="row">
	<div class="col-xs-3">
		<div class="row">
			<select class="form-control" ng-model="builder.filterElement" ng-options="element.value as element.name for element in builder.elements"></select>
			<input class="form-control" ng-model="builder.cardSearch" type="text">
		</div>
		<div class="row">
			<span class="card" ng-repeat="card in builder.allCards | filter : {element: builder.filterElement} | filter:builder.cardSearch">
				<img ng-if="builder.hasImage(card)" ng-src="{{'assets/img/' + card.code + '.png'}}" width="90px" ng-click="builder.deckAdd(card)">
				<img ng-if="!builder.hasImage(card)" ng-src="{{'assets/img/no-image.png'}}" width="90px" ng-click="builder.deckAdd(card)">
			</span>
		</div>
	</div>
	<div class="col-xs-9">
		<img class="deck-card" ng-src="{{'assets/img/' + card.code + '.png'}}" width="90px" alt="" ng-repeat="card in builder.currentDeck" ng-click="builder.deckRemove($index)">
	</div>
</div>
